<header>
    <div class="logo" >FOOD FRIENDLY
    </div>
  
    
    <nav>
      <ul>
         
        <li>
            <a  routerLinkActive="active" [routerLink]="['MenuRecetas']">Menu</a>
        </li>
        
        <li>
            <a  routerLinkActive="active" [routerLink]="['Populares']">La Más Populares</a>
        </li>

        
        <li>
            <a  routerLinkActive="active" [routerLink]="['Regiones']">Por Regiones</a>
        </li>

        <li>
          <button class="btn btn-outline-success" type="submit" (click)="logout()">Cerrar Sesion</button>

        </li>
      </ul>
      
   
    </nav>
  
  
  </header>