<div class="padre">
    <div class="interno pagina">
        <section id="quienes-somos">
            <!-- Sección "Quiénes somos" -->
            <h2>Quiénes somos/ Nuestra Vision</h2>
            <p>
                En Food Friendly, somos un equipo apasionado por la tecnología y la gastronomía. Nuestra misión es transformar la forma en que las personas planifican, crean y gestionan sus recetas culinarias. Creemos firmemente en el poder de la tecnología para mejorar la vida cotidiana y estamos comprometidos en ofrecer soluciones innovadoras que faciliten la preparación de comidas deliciosas y saludables.
                Nuestro producto estrella, el Aplicativo Web para la Gestión de Elaboraciones de Recetas Basadas en Ingredientes, es el resultado de años de investigación y desarrollo. 

            </p>
            <p>
                Visualizamos un mundo donde cada persona pueda disfrutar de una alimentación saludable y equilibrada, utilizando los ingredientes disponibles de manera eficiente y creativa. Queremos ser la referencia en aplicaciones culinarias, ayudando a nuestros usuarios a descubrir nuevas recetas, reducir el desperdicio de alimentos y optimizar sus recursos.
            </p>
          </section>
          
          <section id="nuestros-servicios">
            <!-- Sección "Nuestros servicios" -->
            <h2>Nuestros Misión</h2>
            <ul>
              <li>Innovar: Desarrollar tecnología avanzada que facilite la gestión y creación de recetas culinarias.</li>
              <li>Educar: Proveer a nuestros usuarios de herramientas y recursos para aprender sobre nutrición y cocina saludable.</li>
              <li>Conectar: Fomentar una comunidad de entusiastas de la cocina que compartan sus conocimientos y experiencias.</li>
              <li>Sostener: Promover prácticas sostenibles en la cocina, reduciendo el desperdicio de alimentos y optimizando el uso de ingredientes.</li>
            </ul>
          </section>
          
          <section id="carta-presentacion">
            <!-- Sección de carta de presentación al cliente -->
            <h2>Nuestro Compromiso</h2>
            <p>
                Estamos comprometidos con la excelencia y la satisfacción del usuario. Trabajamos incansablemente para mejorar nuestra plataforma, escuchando y respondiendo a las necesidades y sugerencias de nuestros usuarios. Creemos que juntos podemos hacer de la cocina una experiencia más placentera, sostenible y accesible para todos.    
            </p>
          </section>
    </div>
</div>